{% extends "base/main.html" %}


{% block container %}
    <div class="row">
        <div class="col col-sm-12 col-md-6 col-lg-6">
            <h5>Fondear Cuenta personal con tarjeta de credito/debito</h5>
            <form action="{% url 'usuarios:fondear_cuenta' %}" method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <input type="text" name="nombre_propietario" id="nombre" placeholder="Nombre que aparece en la tarjeta" class="form-control">
                </div>
                <div class="form-group">
                    <input type="text" name="numero_tarjeta" id="numero_tarjeta" max="16" placeholder="Numero de tarjeta" class="form-control">
                </div>
                <div class="form-group">
                    <input type="number" name="monto" id="monto" placeholder="Monto a depositar" class="form-control">
                </div>
                <div class="form-group">
                    <input type="submit" value="Fondear" class="btn btn-primary  teal accent-2" class="form-control">            
                </div>
            </form>
        </div>
    </div>
{% endblock container %}
    